/* ********************************************* */
/* HEADER */
/* ********************************************* */

.header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f6ef;

  gap: 1.6rem;
  height: 9.6rem;
  width: 100%;
  padding: 0rem 4.8rem 0rem 4.8rem;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.logo-name {
  text-decoration: none;
  color: #1b4332;
  font-weight: 500;
  font-size: 1.8rem;
}

/* ********************************************* */
/* NAVIGATION*/
/* ********************************************* */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1b4332;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #52b788;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  /* border-radius: 9px; */
  color: #f1f6ef;
  background-color: #52b788;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #40916c;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ********************************************* */
/* LANDING SECTION */
/* ********************************************* */

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-landing {
  height: 65rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(82, 183, 136, 0.35),
      rgba(64, 145, 109, 0.35)
    ),
    url("../adam-kool-ndN00KmbJ1c-unsplash.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing-text {
  margin: 4.8rem;
  height: auto;
  width: 80rem;
  padding: 4.8rem;
  background-color: #f1f6ef;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.4);
}

.landing-heading {
  margin-bottom: 4.8rem;
}

.landing-secondary {
  margin-bottom: 1rem;
}

.landing-background {
  height: 80rem;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.landing-btn-container {
  padding: 4.8rem;
  margin-left: 1.6rem;
}
/* ********************************************* */
/* HERO SECTION */
/* ********************************************* */

.section-hero {
  padding: 9.6rem 0rem 9.6rem 0rem;
  background-color: #b7e4c7;
  /* padding: 3.2rem; */
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  color: #1b4332;
}

.hero p {
  margin-bottom: 2.4rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-portrait-img {
  width: 100%;
  display: block;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
}

/* ********************************************* */
/* POPUP SECTION */
/* ********************************************* */

.section-popup {
  z-index: 998;
  background-color: #f1f6ef;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup p {
  line-height: 1.4;
  margin-right: 4.8rem;
}

.hidden {
  height: 0;
  display: none;
  pointer-events: none;
}

.popup p {
  font-size: 2.4rem;
}

.closePopupBtn {
  background-color: #52b788;
  color: #f1f6ef;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  margin-left: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

/* ********************************************* */
/*  HOW IT WORKS SECTION*/
/* ********************************************* */

.section-how {
  padding: 9.6rem 0 12.8rem 0;
}

.step-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #bbb;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: inline-block;
  width: 70%;
  /* height: 100px; */
  padding-bottom: 70%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform-origin: center center;
}

.step-img-box::before {
  background-color: #40916c;
  transform: translate(-50%, -50%) rotate(60deg);
  z-index: -1;
}

.step-img-box::after {
  background-color: #1b4332;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -2;
}
.step-img {
  width: 80%;
  height: 80%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
}

/* ********************************************* */
/* FEATURE ICONS SECTION*/
/* ********************************************* */
.section-features {
  padding: 7.4rem 0 7.4rem 0;
}

.icon-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.heading-features {
  font-size: 2.4rem;
  text-align: center;
  /* color: #1b4332; */
}

.features-icon {
  height: 6.2rem;
  width: 6.2rem;
  fill: #40916c;
  color: #40916c;
}

/* ********************************************* */
/* Info section*/
/* ********************************************* */

.info-section {
  font-size: 2rem;
  background-color: #40916c;
  color: #f1f6ef;
  padding: 4.8rem 0;
  margin-bottom: 4.8rem;
}

.info-container {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.info-column {
  list-style: none;
  line-height: 1.4;
}

.info-column li:first-child {
  text-transform: uppercase;
  color: #b7e4c7;
  font-size: 2.4rem;
}

.info-column li {
  margin: 0 0.8rem 1.2rem;
}

/* ********************************************* */
/* CTA / form / CONTACT SECTION*/
/* ********************************************* */

.section-form {
  padding: 9.6rem 0 9.6rem 0;
}

.form-flex-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
}

.form-description {
  font-size: 1.6rem;
  line-height: 1.8;
}

.form-grid {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #52b788;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);

  background-image: linear-gradient(90deg, #52b788, #40916c);
}

.heading-form {
  color: #1b4332;
  grid-column: span 2;
  /* margin-top: 2.4rem; */
  margin-bottom: 4.4rem;
  font-size: 3rem;
  line-height: 1.2;
}

.form-text-box {
  padding-top: 2.4rem;
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  align-items: center;

  color: #1b4332;
  background-color: inherit;
}

.form-text-box input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #f1f6ef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-message {
  grid-row: span 2;
  grid-column: span 2;
}

#message {
  width: 100%;
  min-height: 18rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #f1f6ef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  grid-row: span 2;
  text-align: top;
  vertical-align: top;
  resize: none;
}

.form-text-box button {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #f1f6ef;
}

.name-email-flexbox {
  grid-column: span 2;
  width: 100%;
  display: flex;
  gap: 2.4rem;
}

.form-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(82, 183, 136, 0.35),
      rgba(64, 145, 109, 0.35)
    ),
    url(../Auna-Namkung.jpg);
  background-size: cover;
  background-position: center;
}

.form-img {
  border: none;
  background-color: #f1f6ef;
  width: 100%;
  height: auto;
}

.captcha {
  grid-column: span 2;
}

.form-grid button {
  grid-column: span 2;
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #1b4332;
  color: #f1f6ef;
}

/* ********************************************* */
/* Services section*/
/* ********************************************* */
.services-section {
  font-size: 2.4rem;
  background-color: #40916c;
  color: #f1f6ef;
  padding: 4.8rem 0;
}

.services-title {
  color: #b7e4c7;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.8rem;
}

.services-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.service-box {
  /* font-size: 1.8rem; */
  font-weight: 500;
  background-color: #52b788;
  margin: 0 0.8rem 1.2rem;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.service-box.active {
  padding: auto 30vw;
  padding: 2.4rem;
}

.service-button {
  font-size: 2.8rem;
  background-color: #52b788;
  padding: 1rem 2.4rem;
  color: #f1f6ef;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.service-button:link,
.service-button:visited {
  font-size: 2.8rem;
  background-color: #52b788;
  color: #f1f6ef;
}

.service-button:hover,
.service-button:active {
  font-size: 2.8rem;
  background-color: #52b788;
}

.service-description {
  display: none;
  font-size: 2rem;
  line-height: 1.8;
}

.service-box.active .service-title {
  font-size: 3.6rem;
  display: flex;
}

.service-box.active .service-button {
  background-color: #52b788;
  margin-bottom: 1.2rem;
}

.service-box.active .service-description {
  display: flex;
}

/* ********************************************* */
/*  FOOTER*/
/* ********************************************* */

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #ddd;
}

.logo-col {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.footer-logo,
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 4rem;
  /* margin-bottom: 4rem; */
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #676767;
  margin-top: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #676767;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;

  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #676767;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
